<% provide(:title, "Help") %>

                <div class="row" style="text-align:center;">
                    <div class="col-lg-12">
                        <h1>Welcome to the Sample App</h1>
                        <h3>
                        This is the Help page for the
                        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
                        sample application.
                     </h3>
                    </div>
                </div>

