      <% if logged_in? %>
      <div class="row">
         <aside class="col-md-4">
            <section class="user_info" style="margin-bottom:15px;">
               <%= render 'shared/user_info' %>
            </section>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <section class="micropost_form" style="margin-bottom:10px;">
               <%= render 'shared/micropost_form' %>
            </section>
         </aside>
         <div class="col-md-8">
            <div class="widget">
               <div class="widget-header">
                  <i class="icon-list-ol"></i>
                  <h3>Micropost Feed</h3>
               </div>
               <div class="widget-content">
                  <div class="body">
                     <%= render 'shared/feed' %>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% else %>
      <div class="row" style="text-align:center;">
         <div class="col-lg-12">
            <h1>Welcome to the Sample App</h1>
            <h3>
               This is the home page for the
               <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
               sample application.
            </h3>
         </div>
         <a href="/signup" class="btn btn-lg btn-primary" style="margin-top:15px">Sign up now!</a><br>
         <h4>Or</h4>
         <a href="/login" class="btn btn-lg btn-primary" style="background-color:rgba(11, 46, 89 , 0.8); border-color:rgb(11, 46, 89);">Login</a>
      </div>
      <% end %>
