<% provide(:title, "Log in") %>
 <%= form_for(:session, url: login_path, :html => { :class => "no-margin"}) do |f| %>
      <fieldset>

                    <div class="form-group">
                       <%= f.label :email %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                            <%= f.email_field :email, placeholder:"Your Email", class:"form-control input-lg" %>
                        </div>

                    </div>
					<div class="form-group">
                       <%= f.label :password %>
                        <%= link_to "(forgot password)", new_password_reset_path %>
                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                            <%= f.password_field :password, placeholder:"Your password", class:"form-control input-lg" %>
                        </div>

                    </div>

                </fieldset>
                <div class="form-actions">
                 <%= f.label :remember_me, class: "checkbox" do %>
        <div class="checker"><span><%= f.check_box :remember_me %>Remember me</span></div>
      <% end %>
                <%= f.submit "Login", class: "btn btn-warning pull-right" %>
                <div class="forgot"><%= link_to "New user!", signup_path %></div>
                </div>
    <% end %>
  

