<% provide(:title, "Signup") %>
 <%= form_for(@user, url: password_reset_path(params[:id]), :html => { :class => "no-margin"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
          <%= hidden_field_tag :email, @user.email %>
					<div class="form-group">
                       <%= f.label :password %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                            <%= f.password_field :password, placeholder:"Your password", class:"form-control input-lg" %>
                        </div>

                    </div>
					<div class="form-group">
                       <%= f.label :password_confirmation, "Confirmation" %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                            <%= f.password_field :password_confirmation, placeholder:"Confirm your password", class:"form-control input-lg" %>
                        </div>

                    </div>
                </fieldset>
                <div class="form-actions">
                <label class="checkbox"></label>
                <%= f.submit "Update password", class: "btn btn-warning pull-right" %>
                </div>
    <% end %>
  

