<% provide(:title, "Log in") %>
 <%= form_for(:password_reset, url: password_resets_path, :html => { :class => "no-margin"}) do |f| %>
      <fieldset>

                    <div class="form-group">
                       <%= f.label :email %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                            <%= f.email_field :email, placeholder:"Your Email", class:"form-control input-lg" %>
                        </div>

                    </div>

                </fieldset>
                <div class="form-actions">
                <label class="checkbox"></label>
                <%= f.submit "Submit", class: "btn btn-warning pull-right" %>
                </div>
    <% end %>
  

