<tr>
  <td><%= gravatar_for user, size: 50 %></td>
  <td><%= link_to user.name, user %></td>
  <td>
  <% if current_user.admin? && !current_user?(user) %>
     <button class="btn btn-sm btn-danger"> 
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
     </button>
  <% end %>
  </td>
</tr>