<% provide(:title, 'All users') %>
 <div class="row">
         <div class="col-lg-12">
            <h2 class="page-title">All Users</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="widget">
               <div class="widget-header">
                  <i class="icon-list-ol"></i>
                  <h3>Users</h3>
               </div>
               <div class="widget-content">
                  <div class="body">
				  <div class="clearfix">
                        <%= will_paginate %>
                     </div>
                     <table class="table table-striped table-images">
                        <thead>
                           <tr>
                              <th>Picture</th>
                              <th>Name</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <%= render @users %>
                        </tbody>
                     </table>
                     <div class="clearfix">
                        <%= will_paginate %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>