<% provide(:title, "Signup") %>
 <%= form_for(@user, :html => { :class => "no-margin"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
      <fieldset>
                    <div class="form-group no-margin">
                        <%= f.label :name %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
								<%= f.text_field :name, placeholder:"Your Name", class:"form-control input-lg" %>
                        </div>

                    </div>

                    <div class="form-group">
                       <%= f.label :email %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-envelope"></i>
                                </span>
                            <%= f.email_field :email, placeholder:"Your Email", class:"form-control input-lg" %>
                        </div>

                    </div>
					<div class="form-group">
                       <%= f.label :password %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                            <%= f.password_field :password, placeholder:"Your password", class:"form-control input-lg" %>
                        </div>

                    </div>
					<div class="form-group">
                       <%= f.label :password_confirmation, "Confirmation" %>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                            <%= f.password_field :password_confirmation, placeholder:"Confirm your password", class:"form-control input-lg" %>
                        </div>

                    </div>
                </fieldset>
                <div class="form-actions">
                <label class="checkbox"></label>
                <%= f.submit "Create my account", class: "btn btn-warning pull-right" %>
                </div>
    <% end %>
  

