<% provide(:title, @user.name) %>
   <%= render 'follow_form' if logged_in? %>
      <div class="row">
         <div class="col-lg-12 page-title" style="padding-left:20px">
            <h1><%= gravatar_for @user , size:70 %> <%= @user.name %></h1>
            <%= render 'shared/stats' %>
         </div>
      </div>
      
      <div class="row">
         <div class="col-lg-12">
            <div class="widget">
               <div class="widget-header">
                  <i class="icon-list-ol"></i>
                  <% if @user.microposts.any? %>
                  <h3>Microposts (<%= @user.microposts.count %>)</h3>
                  <% else %>
                  <h3>Microposts (0)</h3>
                  <% end %>
               </div>
               <div class="widget-content">
                  <div class="body">
                     <% if @user.microposts.any? %>
                     <table class="table table-striped table-images">
                        <thead>
                           <tr>
                              <th>Picture</th>
                              <th>From</th>
                              <th>Date</th>
                              <th>Description</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <%= render @microposts %>
                        </tbody>
                         <% end %>
                     </table>
                     <div class="clearfix">
                        <%= will_paginate @microposts %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     