<% provide(:title, @title) %>
      <div class="row">
        <aside class="col-md-4">
         <div class="col-lg-12 page-title" style="padding-left:20px">
           <section>
            <h1><%= gravatar_for @user , size:70 %> <%= @user.name %></h1>
            </section>
             <section style="margin-bottom:10px;">
            <%= render 'shared/stats' %>
            </section>
            <section>
             <% if @users.any? %>
              <div class="user_avatars">
                <% @users.each do |user| %>
                  <%= link_to gravatar_for(user, size: 30), user %>
                <% end %>
              </div>
            <% end %>
            </section>
         </div>
         </aside>
      
         <div class="col-md-8">
            <div class="widget">
               <div class="widget-header">
                  <i class="icon-list-ol"></i>
                  <h3><%= @title %></h3>
               </div>
               <div class="widget-content">
                  <div class="body">
                     <% if @users.any? %>
                     <table class="table table-striped table-images">
                        <thead>
                           <tr>
                              <th>Picture</th>
                              <th>Name</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <%= render @users %>
                        </tbody>
                         <% end %>
                     </table>
                     <div class="clearfix">
                        <%= will_paginate @microposts %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     