<%= link_to gravatar_for(current_user, size: 70), current_user , { :style=>"float:left; margin-right:10px;" } %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user , { :style=>"color:#F3D8C9" }%></span><br>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>