<tr id="micropost-<%= micropost.id %>">
                  <td><%= link_to gravatar_for(micropost.user, size: 50), micropost.user %></td>
                  <td><%= link_to micropost.user.name, micropost.user %></td>
                  <td>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</td>
                  <td><%= micropost.content %>
                      <%= image_tag micropost.picture.url if micropost.picture? %>
                  </td>
                  <td><% if current_user?(micropost.user) %>
                    <button class="btn btn-sm btn-danger"> 
                      <%= link_to "delete", micropost, method: :delete,
                                        data: { confirm: "You sure?" } %>
                    </button>              
                    <% end %>
                  </td>
</tr>