<footer>
        <div class="bottom-nav footer">
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "About",   about_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                    <li><a href="http://news.railstutorial.org/">News</a></li>
                </ul>
            </nav>
            <p style="padding-top:5px">By Abtin Shahkarami</p>
        </div>
</footer>
