<header>
        <div class="container">
            <div class="top-navbar header b-b">
                <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
                <div class="brand pull-left">
                    <a href="/"><img src="/assets/logo.png" width="147" height="33"></a>
                </div>
                <% if logged_in? %>
                <ul class="nav navbar-nav navbar-right  hidden-xs">
               <li class="dropdown user  hidden-xs">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-male"></i> <span class="username">your account</span> <i class="icon-caret-down small"></i> </a>
                  <ul class="dropdown-menu">
                     <li><%= link_to current_user do %><i class="icon-user"></i> Profile<% end %></li>
                     <li><%= link_to edit_user_path(current_user) do %><i class="icon-tasks"></i> Settings<% end %></li>
                     <li class="divider"></li>
                     <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                  </ul>
               </li>
            </ul>
             <% end %>
            </div>
        </div>
</header>