<div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li class="current">
                        <%= link_to root_path do %>
                     <i class="icon-home"></i>Home
                         <% end %>
                    </li>
                    <% if logged_in? %>
                    <li class="current">
					    <%= link_to users_path do %>
                     <i class="icon-group"></i>Users
                         <% end %>
                    </li>
                    <% end %>
                    <li class="current">
                        <%= link_to about_path do %>
                     <i class="icon-info-sign"></i>About
                         <% end %>
                    </li>
                    <li class="current">
                        <%= link_to contact_path do %>
                     <i class="icon-envelope"></i>Contact
                         <% end %>
                    </li>
                    <li class="current">
                        <%= link_to help_path do %>
                     <i class="icon-exclamation-sign"></i>Help
                         <% end %>
                    </li>
                    <% if !logged_in? %>
					<li class="current">
					    <%= link_to signup_path do %>
                     <i class="icon-user"></i>Sign up
                         <% end %>
                    </li>
					<li class="current">
					    <%= link_to login_path do %>
                     <i class="icon-signin"></i>Log in
                         <% end %>
                    </li>
                    <% end %>
                </ul>
            </div>
</div>